<!DOCTYPE html>
<html>
<head>
    <title>Eventos</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/animate.min.css" media="screen">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FUDcon Eventos</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/evento/">Ver todos los eventos</a></li>
            <li><a href="/evento/verificar/">Verificar</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="myContent">
        {% block body %}
        {% endblock %}
    </div>
</div>
</body>
</html>
