{% extends 'base_events.html' %}
{% block body %}
    <h1 class="alert alert-success">Registro realizado correctamente</h1>
    <table class="table-bordered table-hover">
        <tr>
            <td><h2>Código de registro:</h2></td>
            <td><h2>{{ registry.registry_code }}</h2></td>
        </tr>
        <tr>
            <td><h3><strong>Evento:</strong></td>
            <td><h3>{{ registry.event.name }}</h3></td>
        </tr>
        <tr>
            <td><h3><strong>Asistente:</strong></h3></td>
            <td><h3>{{ registry.person.get_complete_name }} —
                {{ registry.person.email }}</h3></td>
        </tr>
        <tr>
            <td><h3><strong>Fecha del evento:</strong></h3></td>
            <td><h3>{{ registry.event.start_date }}</h3></td>
        </tr>
    </table>
    <img src="{{ qr_code }}" alt="QR"/>
{% endblock %}