{% extends 'base_events.html' %}
{% block body %}
    {% if event %}
        <h2>Detalles</h2>
        <table class="table-bordered table-hover">
            <tr>
                <td>Nombre</td>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <td>Fecha de inicio</td>
                <td>{{ event.start_date }} - {{ event.start_time }}</td>
            </tr>
            <tr>
                <td>Fecha de cierre</td>
                <td>{{ event.end_date }} - {{ event.end_time }}</td>
            </tr>
            <tr>
                <td>Precio:</td>
                <td>S/. {{ event.price }}</td>
            </tr>
            <tr>
                <td>Ubicación</td>
                <td>{{ event.address }}</td>
            </tr>
            <tr>
                <td>Descripción</td>
                <td>{{ event.description }}</td>
            </tr>
        </table>
        <br>

        <a class="btn btn-info" href="/evento/registrar/{{ event.id }}/">Registrarse</a>

    {% endif %}
{% endblock %}