{% extends 'base_events.html' %}
{% block body %}
    <h3>
        <strong>Evento:</strong> {{ event.name }}<br>
        <strong>Fecha:</strong> {{ event.start_date }}<br>
    </h3>
    <br>
    <form action="." method="POST">
        {% csrf_token %}
        <table>
            {{ form_person.as_table }}
        </table>
        <button class="btn btn-success btn-lg">Registrarse</button>
    </form>
{% endblock %}