{% extends 'base_events.html' %}
{% block body %}
    {% if registry %}
        <div class="alert alert-success">
            <h3><i class="icon-ok"></i> Registro válido</h3>

        </div>
        <table style="font-size: x-large">
            <tr>
                <td>Registro:</td>
                <td>{{ registry.registry_code }}</td>
            </tr>
            <tr>
                <td>Asistente:</td>
                <td>{{ registry.person.get_complete_name }}</td>
            </tr>
        </table>
    {% else %}
        <div class="alert alert-danger">
            <h2> <i class="icon-ban-circle"></i> Registro no encontrado</h2>
        </div>
    {% endif %}

{% endblock %}