{% extends 'base_events.html' %}
{% block body %}
    <form action="." method="GET">
        <span style="font-size: large">Ingrese código de registro:</span>
        <input type="text" name="registry_code"/>
    <button class="btn btn-info">Verificar</button>
    </form>

{% endblock %}