body{
    background-image: url(/static/imgs/background.png) !important;
}
input {
    border-radius: 9px;
    border: 1px solid #2d6987;
    padding-left: 9px;
    padding-right: 9px;
}

.container {
    /*margin-top: 60px;*/

    /*padding-top: 20px;*/
}

.myContent {
    color: #545454;
    background-color: #f5f5f5;
    /*width: 87%;*/
    padding: 20px;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.68);
}

td {
    padding-left: 5px;
    padding-right: 5px;
}
